# macOS
.DS_Store

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# Microsoft Office temporary files
~$*.docx
~$*.xlsx
~$*.pptx